# Golang CircleCI 2.0 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2.1
jobs:
  build:
    docker:
      - image: cimg/go:1.22
      - image: influxdb:1.8.3-alpine
      - image: influxdb:latest
        environment:
          INFLUXD_HTTP_BIND_ADDRESS: :8089
      - image: influxdb:latest
        environment:
          INFLUXD_HTTP_BIND_ADDRESS: :8087
    environment:
      ENV: CI
      GO111MODULE: "on"
      INFLUXDB2_URL: "http://localhost:8086"
      INFLUXDB_URL: "http://localhost:8087"
      INFLUXDB2_ONBOARDING_URL: "http://localhost:8089"
    steps:
      - checkout
      - setup_remote_docker
      #      - run:
      #          name: check tidy
      #          command: |
      #            go mod tidy
      #            if ! git --no-pager diff --exit-code -- go.mod go.sum; then
      #              echo modules are not tidy, please run 'go mod tidy'
      #              exit 1
      #            fi
      #      - run:
      #          name: check go fmt
      #          command: |
      #            go fmt
      #            if ! git --no-pager diff --exit-code -- go.mod go.sum; then
      #              echo modules are not tidy, please run 'go fmt ./...'
      #              exit 1
      #            fi
      - run:
          name: "Create a temp directory for artifacts"
          command: |
            mkdir -p /tmp/artifacts
            mkdir -p /tmp/test-results
      - run: sudo rm -rf /usr/local/go
        #      - run: wget https://golang.org/dl/go1.20.1.linux-amd64.tar.gz -O /tmp/go.tgz
        #      - run: sudo tar -C /usr/local -xzf /tmp/go.tgz
        #      - run: go version
        #      - run: go get -v -t -d ./...
      - run:
          name: sonnh
          command: curl localhost:8087/ping
      - run:
          name: sonnh1
          command: docker ps -a
      - run: make lint
      #      - run:
      #          name: "Start InfluxDB service"
      #          command: make server
      - run:
          command: make coverage
      - run:
          name: Collecting coverage reports
          command: |
            curl -Os https://uploader.codecov.io/latest/linux/codecov
            curl -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM
            curl -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM.sig
            curl -s https://keybase.io/codecovsecurity/pgp_keys.asc | gpg --no-default-keyring --keyring trustedkeys.gpg --import
            gpgv codecov.SHA256SUM.sig codecov.SHA256SUM
            shasum -a 256 -c codecov.SHA256SUM
            chmod +x ./codecov
            ./codecov
      - store_artifacts:
          path: /tmp/artifacts
      - store_artifacts:
          path: /tmp/test-results
          destination: raw-test-output
      - store_test_results:
          path: /tmp/test-results
