# Golang CircleCI 2.1 configuration file
#
# Check https://circleci.com/docs/2.0/language-go/ for more details
version: 2.1
commands:
  influxdb-onboarding:
    steps:
    - run:
        name: "Post onBoarding request to InfluxDB 2"
        command: ./scripts/influxdb-onboarding.sh
  collect-coverage-reports:
    steps:
    - run:
        name: Collecting coverage reports
        command: |
          curl -Os https://uploader.codecov.io/latest/linux/codecov
          curl -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM
          curl -Os https://uploader.codecov.io/latest/linux/codecov.SHA256SUM.sig
          curl -s https://keybase.io/codecovsecurity/pgp_keys.asc | gpg --no-default-keyring --keyring trustedkeys.gpg --import
          gpgv codecov.SHA256SUM.sig codecov.SHA256SUM
          shasum -a 256 -c codecov.SHA256SUM
          chmod +x ./codecov
          ./codecov
jobs:
  lint:
    docker:
      # specify the version
      - image: cimg/go:1.17
        environment:
          ENV: CI
          GO111MODULE: "on"
    steps:
      - checkout
      - run: go get -v -t -d ./...
      - run: make lint
  tests:
    docker:
      - image: cimg/go:1.17
        environment:
          ENV: CI
          GO111MODULE: "on"
      - image: influxdb:latest
        environment:
          INFLUXD_HTTP_BIND_ADDRESS: :9999
      - image: influxdb:latest
        name: influxdb_v2_onboarding
        environment:
          INFLUXD_HTTP_BIND_ADDRESS: :9999
    environment:
      INFLUXDB_2_ONBOARDING_IP: influxdb_v2_onboarding
      INFLUXDB_2_ONBOARDING_PORT: 9999
    steps:
      - checkout
      - influxdb-onboarding
      - run: make coverage
      - collect-coverage-reports
      - store_artifacts:
          path: /tmp/artifacts
      - store_artifacts:
          path: /tmp/test-results
          destination: raw-test-output
      - store_test_results:
          path: /tmp/test-results
workflows:
  version: 2
  build-test:
    jobs:
      - lint
      - tests:
          requires:
            - lint